.card {
  border: 1px solid #ffffff4d;
  border-radius: 7px;
  padding: 1.5rem 2rem;
  background-color: var(--color-black);
}
.card__name {
  margin: 1.5rem 0;
  font-size: 1.6rem;
}
.card__text {
  opacity: 0.3;
}
.card__imgWrapper {
  display: inline-block;
}
.card__img {
  width: 100px;
  border-radius: 100px;
}
.card__designation {
  margin-bottom: 1rem;
}
